<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.kpr.training.jdbc.service.PersonServiceTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createPersonWithNameNull</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updatePersonWithAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createPersonWithAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>readPersonWithAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createPersonWithNameDuplicate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createPersonWithEmailDuplicate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>readAllPersonWithAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletePersonWithOutAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
