<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.createPersonWithAddress()[pri:1, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">createPersonWithAddress</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:32</td>   <td>2175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.createPersonWithEmailDuplicate()[pri:4, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">createPersonWithEmailDuplicate</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:31</td>   <td>1873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.createPersonWithNameDuplicate()[pri:3, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">createPersonWithNameDuplicate</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:31</td>   <td>1796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.createPersonWithNameNull()[pri:2, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">createPersonWithNameNull</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:32</td>   <td>2876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.deletePersonWithOutAddress()[pri:8, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">deletePersonWithOutAddress</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:32</td>   <td>2402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.readAllPersonWithAddress()[pri:6, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">readAllPersonWithAddress</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:32</td>   <td>2338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.readPersonWithAddress()[pri:5, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">readPersonWithAddress</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:29</td>   <td>-59</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonServiceTest.setUp()[pri:0, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/22 15:53:32</td>   <td>2413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.updatePersonWithAddress()[pri:7, instance:com.kpr.training.jdbc.service.PersonServiceTest@61f8bee4]">updatePersonWithAddress</td> 
  <td>main@2104545713</td>   <td></td> </tr>
</table>
