* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
    
/* left side conainer*/
.col-left{
  float: left;
  position: absolute;
  width: 25%;
  height: 100vh;
  background-color: skyblue;
  border-right: 2px solid rgba(0, 0, 0, 0.8);
}

.leftside-button{
  margin-top: 70%;
  display: grid;
  justify-content: center;
}

.leftside-button button{
  margin: 5% auto;
  min-width: 100%;
  background-color: yellowgreen;
  padding: 10% 32px;
  font-size: 16px;
}

/* right side container */
.col-right{
  position: relative;
  width: 75%;
  height: 100vh;
  margin-left: 25%;
  padding: 0% 5%; 
}

.grid-cd{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2%;
}

.grid-items{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 5%;
}

/* form section */
.lf-form{
  padding: 2%;
}

.form-lf{
  position: relative;
  white-space: pre;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2%;
  width: 95%;
  font-size: large;
}

.form-lf input[type=text], label{
  margin: 1% auto;

}

.form-lf input[type=submit]{
  position: relative;
  background-color: yellow;
  padding: 2% 32px;
  margin-left: 65% ;
  font-size: 16px;
}
